
$light-gray: c(text-light);
// $class-type: unquote(".");

// ******** variable for sub menu hidden 
$nav-bar-li: unquote($string: ".nav-bar__ul__li");


.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-bottom 0.4s linear;


    // @media all and (max-width: 1024px) {
    //     margin-bottom: 80px;
    //     transition: margin-bottom 0.4s linear;
    // }
    @media all and (max-width: 620px) {
        margin: 0;
        transition: margin-bottom 0.4s linear;
        position: fixed;
        top: 0;
        left: 0;
        align-items: start;
        height: 100vh;
        width: 280px;
        transform: translateX(-280px);
        background-color: grey;
        z-index: 100;
        transition: transform 0.3s linear;

        &.open {
            transform: translateX(0px);
            transition: transform 0.3s linear;
        }
    }

    .nav-bar__ul{
        // @include flex-center();
        @extend %flex-center;

        @media all and (max-width: 620px) {
            height: fit-content;
            flex-direction: column;
            margin-top: 40px;
            margin-left: 12px;
            justify-content: center;
            list-style-type: none;
        }
        
    }

    .nav-bar__ul__li{
        @include font-style(futura, 1.4rem, inherit, 100);
        padding-left: 1.2vw; 
        padding-right: 1.2vw; 
        letter-spacing: 0.2rem;
        position: relative;
        width: fit-content;

        @media all and (max-width: 1024px){
            @include font-style(futura, 2.5vw, inherit, 100);
        }

        @media all and (max-width: 620px) {
            margin-bottom: 15px;
            font-size: 1.2rem
        }

        &:hover > a {
            color: c(text-mid);
            @media all and (max-width: 620px) {
                color: rgb(238, 238, 238);
            }
        }

        >a{
            @include a-style($light-gray);
            position: relative;
            padding: 6px 0;

            @media all and (max-width: 620px) {
                color: white;
            }

            &::before {

                content: "";
                position: absolute;
                background-color: c(text-light);
                height: 2px;
                width: 0;
                widows: 0;
                left: 0;
                bottom: 0;
                transition: all 0.2s ease-in;
            }

            &:hover::before {

                width: 100%;
            }

        }
        

    }
    .fa {
        color: c(red);
    }

    .fa-times {
        display: none;

        @media all and (max-width: 620px) {
            display: block;
            position: absolute;
            top: 17px;
            right: 0;
            right: 0px;
            transform: scale(0);
            transition: right 0.4s linear;
            transition: transform 0.3s ease;

            &.open {
                right: -25px;
                transform: scale(1);
                transition: transform 0.3s ease;
                transition: right 0.4s linear;
            }
        }
    }

    .fa-bars {
        display: none;

        @media all and (max-width: 620px) {
            display: block;
            position: absolute;
            top: 15px;
            right: -40px;
            transform: scale(1);
            transition: transform 0.3s ease;


            &.open {
                transform: scale(0);
                transition: transform 0.3s ease;
            }
        }
    }
}





