<footer class="footer-wrapper">
    <div class="footer">
        <div class="footer__list nav-bar">
            <ul class="footer__list__ul nav-bar__ul">
                <li class="footer__list__ul__li nav-bar__ul__li"><a href="">Submit designs</a></li>
                <li class="footer__list__ul__li nav-bar__ul__li"><a href="">contact us</a></li>
                <li class="footer__list__ul__li nav-bar__ul__li"><a href="">News letter</a></li>
                <li class="footer__list__ul__li nav-bar__ul__li"><a href="">Amazon store</a></li>
            </ul>
        </div>
        <p class="footer__copywrite">T&K Quality &copy</p>

    </div>
</footer>




<div class="fade-bottom"></div>

<script type="module" src="/script.js"></script>
<!-- <script src="/scroller.js" type="module"></script> -->
<!-- <script src="/scroller-animation.js" type="module"></script> -->