<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

<body>

    <div class="loading">
        <img class="loading-img" src="/imgs/loading-1.gif"></img>
    </div>
    <div class="fade-top"></div>

    <div class="body-section section" id="0">
        <div id="mainHeader"></div>