<div class="nav-bar">
    <ul class="nav-bar__ul listFix">
        <li class="nav-bar__ul__li"><a href="/">Home</a></li>
        <% if (!locals.user) { %>
        <li class="nav-bar__ul__li"><a href="#">About us</a></li>
        <% } else { %>
        <li class="nav-bar__ul__li"><a href="#">Profile</a></li>
        <% } %>
        <li class="nav-bar__ul__li"><a href="#">Products</a>
            <div class="sub-menu">
                <ul class="sub-menu__ul">
                    <li class="sub-menu__ul__li"><a href="">T-Shirts</a></li>
                    <li class="sub-menu__ul__li"><a href="">Hoodies</a></li>
                    <li class="sub-menu__ul__li"><a href="">Sweaters</a></li>
                    <li class="sub-menu__ul__li"><a href="">Long Sleeves</a></li>
                    <li class="sub-menu__ul__li"><a href="">Hats</a></li>
                    <li class="sub-menu__ul__li"><a href="">Stickers</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-bar__ul__li"><a href="#">Categories</a>
            <div class="sub-menu">
                <ul class="sub-menu__ul">
                    <li class="sub-menu__ul__li"><a href="/products/top-sellers">Top Sellers</a></li>
                    <li class="sub-menu__ul__li"><a href="">New Designs</a></li>
                    <li class="sub-menu__ul__li"><a href="">Trending now</a></li>
                    <li class="sub-menu__ul__li"><a href="">Politics</a></li>
                    <li class="sub-menu__ul__li"><a href="">Holidays</a></li>
                    <li class="sub-menu__ul__li"><a href="">Pets</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-bar__ul__li "><a href="#" class="contact">Contact us</a></li>

        <li class="nav-bar__ul__li "><a href="/cart/" class="cart"><i class="fa fa-shopping-cart" aria-hidden="true">

                </i></a></li>
    </ul>
</div>

<div class="login">
    <% if (!locals.user) { %>
    <form method="get" action="/aoth/login" class="">
        <input type="submit" class="login__input" value="Login">
    </form>
    <% } else if (locals.user) { %>
    <form method="get" action="/aoth/logout" class="">
        <input type="submit" class="login__input" value="Logout">
    </form>
    <% } %>
</div>