<% include head.ejs %>

<body>
    <div class="body-section section" id="0">
        <% include header.ejs %>

        <div class="register-form">
            <form action="/aoth/login/" name="register-form" method="POST">
                <label for="name">Name</label>
                <input id="name" name="name">
                <label for="email">Email</label>
                <input id="email" name="email">
                <label for="password">Password</label>
                <input id="password" name="password">
                <label for="phone">Phone number</label>
                <input id="phone" name="phone">

                <input type="submit" class="submit-register" value="Register">
            </form>
        </div>
        <div class="login-container">
            <h2 class="login-header">Please Login</h2>
            <form method="get" action="/aoth/google" class="google-form">
                <input type="submit" class="google-login" value="Google+">
            </form>
            </ws3sw3 div>
        </div>
        <% include footer.ejs %>

        <script type='module' src="/scripts/login.js"></script>
</body>

</html>