.loading {

    background-color: rgb(11, 11, 44);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.8s;

    .loading-img {

        /* background-image: url(imgs/loading-1.gif); */
        z-index: 101;
    }
}

.hide-loader {

    pointer-events: none;
    opacity: 0;
}

