<% include partials/header.ejs %>


<div class="part1 ">
    <div class="text-animate">
        <!-- TnK Quality -->
        <span>T</span>
        <span>n</span>
        <span id="k">K</span>
        <span>Q</span>
        <span>u</span>
        <span>a</span>
        <span>l</span>
        <span>i</span>
        <span>t</span>
        <span>y</span>
    </div>

    <p class="meta">Where You Can Buy Quality.</p>

    <div class="model" style="display: none;">

        <div class="model__box">
            <span class="x">X</span>
            <div class="model__box__text-area">
                <p class="title">GROW WITH US</p>
                <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatibus atque
                    debitis aut amet excepturi fugit vero recusandae veniam, nihil reprehenderit et ea impedit quaerat
                    assumenda sapiente. Alias veritatis aut labore iusto reiciendis. Placeat fugiat, illum temporibus
                    consectetur corrupti harum unde mollitia quidem adipisci dolor laudantium sunt eaque aspernatur
                    accusamus.</p>
                <form class="text-area__box-form" action="">

                    <input placeholder=" Enter Email.." type="email">
                    <button class="flexible-btn btn-2">SUBSRIBE</button>
                </form>


            </div>
            <div class="model__box__img img-1"></div>

        </div>
    </div>

    <div class="model contact-us" style="display: none;">

        <div class="model__box">
            <span class="x">X</span>
            <div class="model__box__text-area">
                <p class="title">Contact us</p>
                <!-- <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatibus atque debitis aut amet excepturi fugit vero recusandae veniam, nihil reprehenderit et ea impedit quaerat assumenda sapiente. Alias veritatis aut labore iusto reiciendis. Placeat fugiat, illum temporibus consectetur corrupti harum unde mollitia quidem adipisci dolor laudantium sunt eaque aspernatur accusamus.</p> -->
                <form class="text-area__box-form" action="">

                    <textarea placeholder=" Enter Email.."></textarea>
                    <button class="flexible-btn btn-2">Send</button>
                </form>


            </div>
            <div class="model__box__img img-1"></div>

        </div>
    </div>




</div>

<img class="arrow next" src="/imgs/Arrow-2.png" alt="" style="display: block;">
<span class="scroll" style="display: block;">SCROLL</span>
</div>




<div class="part2 section" id="1">
    <div class="part2__img img"></div>
    <div class="part2__text-content">
        <h2>In Style Aisle</h2>
        <p class="part2__text-content__disc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur
            provident adipisci laborum quisquam reprehenderit fugit soluta maxime in ut <br><br>
            amet quas laudantium eum nulla quis dolorem, rem, temporibus fugiat, eos facilis eligendi atque assumenda
            et. Voluptatem, quod explicabo? Sapiente corrupti nisi nihil excepturi accusamus deserunt explicabo
            consequatur dolore! Provident!</p>

        <button class="large-btn">Discover</button>
    </div>
</div>
<div class="section" id="2">
    <div class="part3" id="">
        <div class="part3__cards-wrapper">
            <a href="/top-sellers">
                <div class="simple-product-card block-1">
                    <div class="simple-product-card__img img-1"></div>
                    <div class="simple-product-card__text">
                        <h3 class="simple-product-card__text__title">Best Sellers</h3>
                        <p class="simple-product-card__text__disc">Do you want to know what others are buying? click
                            here</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="simple-product-card block-2">
                    <div class="simple-product-card__img img-2"></div>
                    <div class="simple-product-card__text">
                        <h3 class="simple-product-card__text__title">Hot Topic</h3>
                        <p class="simple-product-card__text__disc">Here you can find trending subjects.</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="simple-product-card block-3">
                    <div class="simple-product-card__img img-3"></div>
                    <div class="simple-product-card__text">
                        <h3 class="simple-product-card__text__title">Our favorites</h3>
                        <p class="simple-product-card__text__disc">This is our personal favorites.</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="wide-note-section">
            <div class="wide-note-section__wrapper">
                <h4 class="title">Did you know?</h4>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odit
                    necessitatibus esse saepe laboriosam voluptas aperiam. Perferendis laudantium illo dicta voluptas
                    dolorum, ut enim labore esse temporibus praesentium aliquam minus neque facilis nulla quisquam
                    accusantium delectus culpa doloribus et sint architecto magnam nostrum quas ducimus? Repudiandae
                    dolor, reprehenderit, totam nihil at consectetur temporibus aliquid consequuntur non aliquam
                    asperiores explicabo vitae suscipit, voluptas voluptatibus numquam qui magni eius! Facilis, tempora
                    perferendis?</p>
            </div>

        </div>
    </div>
</div>

<% include partials/footer.ejs %>