@font-face {
    font-family: 'futura';
    src: url(/fonts/futura.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    box-sizing: border-box;
}

.loading {

    background-color: rgb(11, 11, 44);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.8s;
}

.loading-img {


    /* background-image: url(imgs/loading-1.gif); */
    z-index: 101;

}

.hide-loader {

    pointer-events: none;
    opacity: 0;
}

.fade-top {

    height: 1px;
    background-color: white;
    box-shadow: 0 0 50px 20px white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/* .fade-bottom {

    height: 1px;
    background-color: white;
    box-shadow: 0 0 110px 50px white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
} */

.container {

    /* border: 1px solid rgb(75, 219, 255); */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3vh;
    /* display: flex;
    justify-content: space-around; */
    /* margin-bottom: 3000px; */ 

}

.content {

    /* border: 1px solid rgb(255, 0, 0); */
    text-align: center;
    width: 100%;
    font-size:6rem;
    font-family: futura;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5vw;
    font-weight: 200;
    color: rgb(53, 53, 53);
}

span {

    /* border: 1px solid rgb(0, 201, 0); */
    transition: all 0.2s;

}

.content  span:first-child {

    margin-left: 2vw;
}

#k {

    padding-right: 3vw;
}

span:hover {

    transform: scale(1.2);
    color: rgb(17, 17, 71);
}

.meta {

    /* border: 1px dashed rgb(173, 0, 179); */
    text-align: center;
    font-family: futura;
    font-size: 1.5vw;
    margin-top: -0.4%;
    font-weight: 100;
    color: rgb(87, 87, 87);
}

body .part1 {
    
    height: 260px;
}

/* ------------- NAV BAR --------------- */

.menu {

    margin-bottom: 30vh;
} 

.list {

    
    /* border: 2px dashed rgb(115, 255, 0); */

    display: flex;
    justify-content: center;
    list-style-type: none;
    
    
}

.list-item {
     
    /* border: 2px dashed rgb(255, 0, 0); */
    font-family: futura;
    font-size: 1.4rem;
    padding-left: 1.2vw; 
    padding-right: 1.2vw; 
    font-weight: 100;
    letter-spacing: 0.2rem;
    position: relative;
    
}

.list-item > a {

    color: rgb(184, 184, 184);
    text-decoration: none;
    transition: all 0.15s;
    position: relative;
    padding: 6px 0;
}

.list-item  a {

    /* border: 1px dashed blue; */
    transition: all 0.3s;
}

.list-item:hover > a {

    color: gray;
}
 

.list-item > a:before {
    content: "";
    position: absolute;
    background-color: rgb(177, 177, 177);
    height: 2px;
    width: 0;
    widows: 0;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease-in;

}

.list-item > a:hover:before {

    width: 100%;
    
}

/* -------------------- sub menu ----------------------- */

.sub-menu {

    /* border: 1px dashed red; */
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(63, 63, 63);
    z-index: 20;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    height: 0px;
    transition: all 0.4s;
    margin-top: 10px;
    
}

.list-item:hover > .sub-menu {
    pointer-events: fill;
    opacity: 1;
    min-height: 300px;
    transition: all 0.4;
}


.sub-menu::before {
    /* pointer-events: none; */
    content: "";
    position: absolute;
    background-color: rgb(4, 9, 46);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.74, 0.15, 0.62, 0.42);
    transition-delay: 0.2s;
 
    

}


.list-item:hover .sub-menu::before {

    top: 100%;

}



.sub-menu .sub-list {
        
    padding: 50px 150px 70px 60px;

    min-width: 150px;

}

.sub-menu li {

    list-style-type: none;
    padding-bottom: 0.2rem;

}

.sub-menu .sub-list a {

    font-family: arial;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    transition: all 0.1s;
}

.sub-menu a:hover {

    color: rgb(255, 199, 94);
}



/* ---------------------------part2------------------------------ */


.part2 {

    margin: 0 auto;
    position: relative;
    width: 70%;
    margin-bottom: 150px;
    margin-top: 50vh;
    /* overflow: hidden; */
    
    
}
.part2 .img {

    background-image: url(/imgs/part1-3.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: absolute; */
    background-position-y: 50%;
    background-attachment: fixed;
    /* background-position: initial; */
    background-color: white;
    position: relative;
    filter: blur(0px);

}

 /* .part2::before{

    content: "";
    z-index: 1;
    width: 100%;
    height: 100px;
    background-image : linear-gradient(to top, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
    position: absolute;
    top: 0;
    left: 0;

} */

/* .part2::after{

    content: "";
    z-index: 1;
    width: 100%;
    height:20px;
    background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
    position: absolute;
    bottom: 0;
    left: 0;

} */

.text-content {

    position: absolute;
    top: 15%;
    left: 9%;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-family: arial;
    /* overflow: hidden; */
}

.text-content h2 {

    font-family: arial;
    font-size: 3.5rem;
    border: 1.5px solid black;
    align-self: baseline;
    padding: 5px 15px;
    margin-bottom: 20px;
    color: rgb(32, 32, 32);
    transform: translate(-50%);
    opacity: 0;
    /* transition: all 0.3s cubic-bezier(0.42, 0, 0.34, 1.24); */
    transition: all 0.8s cubic-bezier(0.85, 0.05, 0.24, 1.40);
}

.text-content p {

    font-size: 1.5rem;
    color: rgb(51, 51, 51);
    /* transform: translateY(70%); */
    /* transition: all 0.4s cubic-bezier(0.85, 0.05, 0.24, 1.55); */
    
}


.btn {

    margin-top: 30px;
    min-height: 40px;
    min-width: 150px;
    align-self: baseline;
    padding: 20px 50px;
    font-family: futura;
    font-weight: 600;
    color: white;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 2em;
    background-color: rgb(26, 26, 26);
    border: none;
    box-shadow: 0 5px 10px -5px rgb(83, 83, 83);
    transition: all 0.4s;
    cursor: pointer;
}

.btn:hover,
.text-area .btn-2:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(41, 41, 41);
}

.text-content .slidein {
    opacity: 1;
    transform: translate(0);
    /* transform: translateY(0); */

}

.arrow {

    position: fixed;
    bottom: 10vh;
    right: 13vw;
    transition: all 0.2s;
    animation-name: inOut;
    animation-duration: 2s;
    animation-iteration-count: 5;
    /* animation-delay: 1s; */
    cursor: pointer;
    animation-fill-mode: forwards;
    z-index: 40;
    display: none;



}

.scroll {

    position: fixed;
    bottom: 18vh;
    right: 10vw;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 90, 90);
    font-weight: 100;
    animation-name: inOut;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
    z-index: 40;
    display: none;
}

@keyframes inOut {

    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2)
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}



/* ------- model---------- */

.show-flex {
    animation: show 0.3s ease-in;
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

.hideAfter {

    transition: hide 0.5s ease-in;
    /* animation-fill-mode: backwards; */
}

@keyframes hide {
    0% {

        display: flex;
        opacity: 1;
    }
    100% {

        display: none;
        opacity: 0;
    }
}


.model {

    display: flex;
    position: fixed;
    background: rgba(30, 33, 34, 0.678);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green;  */

} 
.box {

    /* border: 2px dashed rgb(38, 0, 255); */

    min-height: 500px;
    min-width: 40vw;
    max-width: 1000px;
    background-color: rgb(245, 248, 255);
    display: flex;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
    justify-content: space-around;
    margin: auto 30px;
    box-shadow: 0 5px 40px -5px rgb(0, 0, 0);
    position: relative;
    /* transition: all 0.3s; */
    

}

.box .text-area {

    /* border: 2px dashed rgb(12, 0, 187); */
    /* min-width: 400px; */
    /* flex-grow: 3; */
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 40px 70px;

}

.box .img-1 {

    /* border: 2px dashed rgb(0, 224, 75); */
    background-image: url(/imgs/bus-1.jpg);
    min-width: 320px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    /* flex-grow: 1; */
}


.text-area .title {

    /* border: 2px dashed rgb(0, 224, 75); */

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    align-self: baseline;
    border-bottom: 2px solid rgb(235, 235, 235);
    padding-bottom: 15px;
    margin-bottom: 2rem;
    color: rgb(41, 41, 41);
    min-width: 10vh;
}

.text-area .discription {

    /* border: 2px dashed red; */
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
    font-family: sans-serif;
    line-height: 1.7rem;
    margin-bottom: 50px;
}

.box-form {
    /* border: 2px dashed rgb(255, 187, 0); */

    display: flex;
    justify-content: flex-start;
}

.contact-us .box-form {

    flex-direction: column;
    /* align-self: baseline; */
}

.contact-us .box-form .btn-2 {

    align-self: baseline;
}

.contact-us .box-form textarea {
    /* width: 20px; */
    height: 250px;
    margin-bottom: 10px;
}

.text-area .btn-2 {

    /* border: 2px dashed rgb(55, 0, 255); */


    min-height: 40px;
    min-width: 150px;
    /* align-self: baseline; */
    padding: 10px 25px;
    font-family: futura;
    font-weight: 600;
    color: white;
    letter-spacing: 0.15em;
    /* text-transform: uppercase; */
    font-size: 1.2rem;
    background-color: rgb(26, 26, 26);
    border: none;
    box-shadow: 0 5px 10px -5px rgb(83, 83, 83);
    transition: all 0.2s;
    cursor: pointer;

}

.box-form input {

    /* border: 2px dashed rgb(0, 255, 55); */
    flex-grow: 1;
    flex-basis: auto;
}

.x {

    /* border: 2px dashed rgb(0, 156, 34); */
    position: absolute;
    color: rgb(255, 255, 255);
    top: -30px;
    right: -30px;
    z-index: 11;
    font-size: 2rem;
    font-family: futura;
    cursor: pointer;
    
}

/* -----------------------------part3 ------------------------------- */

.part3 {

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 120px;
    margin-bottom: 200px;
    flex-direction: column;
}

.part3 .wrapper {
    /* border: 2px dashed rgb(156, 0, 0); */
    display: flex;
    width: 55%;
    min-width: 900px;
    justify-content: space-between;

}

.part3 .block {
    display: flex;
    flex-direction: column;
    /* border: 2px dashed rgb(0, 156, 34); */
    width: 250px;
    /* height: fit-content; */
    box-shadow: -5px 10px 40px -2px rgb(218, 218, 218);
    transform: scale(1);
    transition: all 0.6s;
    cursor: pointer;
}

.part3 .block:hover {

    transform: scale(1.1);
    box-shadow: 0 0px 60px -15px rgb(161, 161, 161);

}

.part3 .block-img {
    /* background-color: lightblue; */
    height: 250px;
    width: 100%;
}

.part3 .block-text {
        /* border: 2px dashed rgb(0, 156, 34); */

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    overflow: hidden;
}
.part3 .block:hover .block-text{

    color: rgb(32, 32, 32);
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 0px 60px -15px rgb(161, 161, 161); */


}

.part3 .block-header {
        /* border: 2px dashed rgb(255, 0, 0); */

    /* border-bottom: 2px solid white; */
    padding: 3px 5px;
    margin: 20px 20px 10px;
    font-size: 24px;
}

.part3 .block-p {
        /* border: 2px dashed rgb(42, 0, 156); */


    margin: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}

.part3 .img-1 {

    background-image: url(/imgs/stock-1.jpg);
    background-size: cover;
}
.part3 .img-2 {

    background-image: url(/imgs/stock-2.jpg);
    background-size: cover;
}
.part3 .img-3 {

    background-image: url(/imgs/stock-3.jpg);
    background-size: cover;
}

.part3 .block-1 {
     opacity: 0;
    transform: translate(100%, 30%);
    transition: all 0.3s;
}
.part3 .block-2 {
    opacity: 0;
    transform: translate(0, 30%);
    transition: all 0.3s;
}
.part3 .block-3 {
    opacity: 0;
    transform: translate(-100%, 30%);
    transition: all 0.7s;

}

.part3 .block-animate {

    transform: translate(0, 0);
    opacity: 1;
}

/* ---------- deal section ------------ */

.deal-section {

    width: 75%;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 37, 37);
    background-color: rgb(255, 255, 246);
    box-shadow: -10px 10px 60px -10px rgb(211, 211, 211);

}

.deal-section .wrapper {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 50px 30px;
}

.deal-section h4 {

    font-size: 30px;
    margin-bottom: 25px;
    font-family: futura;
    font-weight: 800;
}

.deal-section  .paragraph {

    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

/* ----------------------------- part4 footer ---------------------------- */



.part4 {

    width: 100%;
}

.part4 .footer-wrapper {

    width: auto;
    margin: 0 auto;
}

.part4 .footer-title {

    text-align: center;
    margin: 30px;
    font-size: 18px;
}
.part4 a {

    text-decoration: underline;
    font-size: 16px;
}




.section {

    border: 1px dashed transparent;
}



/* ----------------------------login---------- */

.login-button-container {

    position: absolute;
    top: 30px;
    right: 0;
}

.login-button-home{

    background-color: 	#131313;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: white;

}

.login-header {

    color: rgb(63, 63, 63);
    font-family: futura;
    margin: 10px auto;
    text-align: center;
    font-size: 40px;
    /* align-items: center; */
}

.google-login {

    margin: 10px auto;
    margin-bottom: 250px;
    background-color: 	#d62d20;
    border: none;
    padding: 18px 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    color: white;

}

.login-container{

    margin: 10px auto;
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
}

.google-form {
    margin: 10px auto;
}

