.product-list__Error {
    width: 850px;
    margin: 150px auto 600px;
    color: #f46969;
    font-family: futura;
    .product-list__Error_title {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .product-list__Error_details {
        font-size: 32px;
    }
}