
//  ********* to create a word that will animate as you hover over ******

.text-animate {

    @include font-style(futura, 6rem, text-dark, 200);
    @extend %flex-center;
    text-align: center;
    width: 100%;
    letter-spacing: 2.5rem;

    span {

        transition: all 0.2s;

        &:hover {
            transform: scale(1.2);
            color: c(secondary);
        }

    }

    #k {
        padding-right: 3vw;
    }  

}

